html {
  box-sizing: border-box;
  font-family: "Rajdhani", sans-serif;
  font-size: 16px;
}
body {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Kanit", sans-serif;
}
h1 {
  margin-bottom: -0.8rem;
}

.cv-head {
  font-size: 2rem;
}

.main-heading {
  font-size: 2em;
  margin-bottom: 0.4em;
}

.subheading {
  font-size: 0.5em;
}

.subheading::after {
  content: " 💾";
  font-size: 1em;
}

.header {
  padding: 2.5rem 1rem;
  text-align: center;
  background-color: LightSkyBlue;
}
.main {
  max-width: 65ch;
  margin: 0 auto;
}
.main > article + article {
  margin-top: 2.75rem;
  border-top: 2px solid darkgray;
}

@media screen and (min-width: 768px) {
  .main > article + article {
    margin-top: 4rem;
    border-top: 2px solid darkgray;
  }
}

/* Nav tags and classes*/
nav {
  margin-top: 1.5rem;
}

.nav-links {
  color: white;
  text-decoration: none;
}
.nav-links + .nav-links {
  margin-left: 1rem;
}
.nav-links:link {
  background-color: rgba(64, 56, 56, 0.352);
  padding: 0.25rem;
  border-radius: 0.25rem;
}

.nav-links:hover {
  background-color: rgb(224, 0, 0);
  color: white;
}
.nav-links:active {
  background-color: blue;
  color: yellow;
}

::selection {
  background-color: brown;
  color: white;
}

.logical::before {
  content: "🧮 ";
}

.creative::before {
  content: "🤹🏽 ";
}

.individual::before {
  content: "🧑🏽‍🏫 ";
}
.responder::before {
  content: "⛑️ ";
}
.computer::before {
  content: "💻 ";
}
.mail::before {
  content: "📧 ";
  margin-right: 0.25rem;
}
.tel::before {
  content: "☎️ ";
  margin-right: 0.25rem;
}
.mail,
.tel {
  text-decoration: none;
  font-size: 0.9rem;
}

.future::after {
  content: " 🚀";
  margin-left: 0.5rem;
  font-size: 1rem;
}

footer {
  text-align: center;
  margin-top: 1.75rem;
  margin-bottom: 0.75rem;
}

.test-heading {
  display: inline-block;
}

.test-subheading {
  display: inline-block;
  margin-left: 0.75rem;
}

.position {
  position: relative;
  left: -1rem;
}

.hire-me {
  position: absolute;
  font-size: 0.9rem;
  border-radius: 0.4rem;
  padding: 0.75rem;
  color: white;
  background-color: rgb(254, 0, 0);
  top: 1.25rem;
  right: 1.25rem;
}

@media screen and (min-width: 992px) {
  .hire-me {
    position: fixed;
  }
}

@media print {
  .hire-me {
    display: none;
  }
  .navigation {
    display: none;
  }
}

main article {
  padding-left: 6rem;
  padding-right: 6rem;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 18px;
  }
}

@media screen and (min-width: 992px) {
  html {
    font-size: 20px;
  }
}
